body {
    background-color: #f2f2f2;
}

/* HEADER */
header {
   margin-top: 5%;
   text-align: center;
}

#mainHeader {
    font-weight: lighter;
}

/* PARAGRAPH */
P {
    font-weight: lighter;
    text-align: center;
    margin-top: 1%;
}